spring:
  application:
    name: study
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

queue-service:
  name: myfile
  exchange: study
  route-key: study-key

viacep-service:
  url-base: https://viacep.com.br/ws
  url-cep: /{cep}/json
  connect-timeout: 2000
  read-timeout: 10000

